* {
    --Main-Font:'Montserrat', sans-serif;
    --secondary-color: rgb(228, 29, 228);
   
}

body {
   max-width: 100%;
    max-height: 100vh;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: right;
}

header li {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-evenly;
    padding: 10px;
    margin-right: 50px;
}

header img {
    cursor: pointer;
    max-width: 50px;
    filter: grayscale(100%);   
}

main {
    font-family: var(--Main-Font);
    max-width: 100%;
   
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    flex-direction: column;
    position: relative;
    left: -100%; 
    animation: slideIn 0.8s ease-in-out forwards, fadeIn 1.5s ease-in-out forwards; 
    opacity: 0; 
    font-size: 22px;
}



span{
    color: var(--secondary-color)
}

.mainContainer nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    max-width: 600px;
}

.mainContainer nav li {
    display: flex;
    flex-direction: row;
}

.mainContainer ul {
    padding: 10px;
    border-right: 2px solid black;
     cursor: pointer;
     color: var(--secondary-color);
}


@keyframes slideIn {
    to {
        left: -20%; 
    }
}

@keyframes fadeIn {
    to {
        opacity: 1; 
    }
}



