* {
    --Main-Font: 'Montserrat', sans-serif;
    --main-color: beige;
    --secondary-color: rgb(228, 29, 228);
    --custom-dark-color: rgba(0, 0, 0, 0.842);
}

body {
    max-width: 100%;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: right;
}

header ul {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-evenly;
    padding: 10px;
    margin-right: 50px;
    list-style: none;
}

header img {
    cursor: pointer;
    max-width: 50px;
    filter: grayscale(100%) sepia(100%) hue-rotate(300deg);
}
.insta img{
    padding-top: 5px;
    max-width: 40px;
    height: auto;
}
main {
    font-family: var(--Main-Font);
    max-width: 100%;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 600px;
    flex-direction: column;
    position: relative;
    left: -100%;
    animation: slideIn 0.8s ease-in-out forwards, fadeIn 1.5s ease-in-out forwards;
    opacity: 10%;
}


@keyframes slideIn {
    to {
        left: 15%;
    }
    to {
        opacity: 100%;
    }
}

.mainContainer h1 {
    margin-top: 0;
    font-size: 52px;
    font-weight: 900;
}

span {
    color: var(--secondary-color)
}

.mainContainer nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    max-width: 600px;
    
}
.mainContainer a {
    text-decoration: none;
    color: var(--secondary-color);
}

.mainContainer nav li {
    display: flex;
    flex-direction: row;
    
}

.mainContainer ul {
    padding: 10px;
    border-right: 2px solid black;
    cursor: pointer;
    
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin-top: 300px;
    height: 800px;
    background-color: var(--secondary-color);
}

.skills h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 900;
    color: var(--main-color);
    margin-bottom: 100px;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    column-gap: 100px;
    row-gap: 20px;
}

.skills ul h3 {
    text-align: center;
    color: var(--main-color);
    margin-top: 10px;
}

.skills img {
    max-width: 70px;
    height: auto;
    cursor: pointer;
}


.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    margin-top: 100px;
    height: 800px;
    
}

.projects h1 {
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
    font-weight: 900;
    color: var(--secondary-color);
    margin-bottom: 100px;
}

.projects ul {
    list-style: none;
    padding-right: 20px;
}
.projects li {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.projects img {
    max-width: 600px;
    border-radius: 10px;
    box-shadow: rgba(140, 75, 101, 0.24) 0px 0px 10px 3px;
    margin-right: 20px;
}
.projectText {
    max-width: 800px;
    text-align: center;
}
.projects h2 {
    font-size: 24px;
    margin: 0;
}

.projectText div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projects h3 {
    padding: 5px;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-size: 20px; 
    margin: 10px;
    border: 2px solid var(--custom-dark-color);
}
.note {
    
    font-style: italic;
    color: var(--custom-dark-color);
   
}

.projects p {
    font-size: 16px;
    margin-top: 50px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%; 
    padding-top: 0px;
    margin-top: 200px;
    height: 800px;
    background-color: var(--secondary-color);
}

.about h1 {
    font-size: 50px;
    color: var(--main-color);
    margin-bottom: 100px;
    padding-left: 200px;
}

.about p {
    padding-left: 200px;
    font-size: 23px;
    color: var(--main-color);
    margin-bottom: 10px;
}
.about span {
    font-weight: 900;
    font-size: 27px;
    color: beige;
}
.about .button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.resumeBtn {
    display: inline-block;
    max-width: 200px;
    background: linear-gradient(90deg, var(--secondary-color) 50%, var(--main-color) 50%);
    background-size: 200% 100%;
    background-position: right;
    border: 1px solid var(--custom-dark-color);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    transition: background-position 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    margin-top: 50px;
}

.resumeBtn a {
    display: block;
    text-decoration: none;
    padding: 14px 50px;
    color: var(--secondary-color);
    font-weight: bold;
    text-align: center;
    transition: color 0.3s ease;
}

.resumeBtn:hover {
    background-position: left;
    border-color: var(--main-color);
}

.resumeBtn:hover a {
    color: var(--main-color);
    
}

footer {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    background-color: var(--custom-dark-color);
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
}

footer h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--main-color);
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

footer ul {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    column-gap: 30px;
    list-style: none;
}

footer img {
    cursor: pointer;
    max-width: 50px;
    filter: brightness(0) invert(1) grayscale(4) contrast(9);
}



